<HTML>
	<HEAD>
			<TITLE>Buscador de Fotos Flickr</TITLE>
	</HEAD>
	<BODY background = "http://static3.depositphotos.com/1004491/200/i/950/depositphotos_2008552-Stop-Sign.jpg" align = "center">
		<P >
			<br><br><br>
			<font face="sans" size =4 style="COLOR: #FFFFFF" >
				<CENTER ><b>La busqueda anterior no tuvo resultados.
					<br>Sugerencias:
					<br> *Comprueba que todas las palabras estan escritas correctamente.
					<br> *Intenta usar otras palabras.
					<br> *Intenta usar palabras mas generales.</b>
				</CENTER>
			</font>
		</P>
		<P>
		<div id="contenido">
		<form  align="center" action="/" method="get">
			<P size="20">
			<b><input  style="color:#0099FF;width:200px; height:30px;size:30;font-weight:bold;font-size: 12pt" type="submit" value="Repetir Busqueda" size="20"></b>
			</P>
		</from>
		</div>
		</P>
		<div valign="button">
			<font face="sans" size =2 style="COLOR: #FFFFFF" >
				<CENTER> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				Instituto Tecnologico de Costa Rica<br>Administracion de Tecnologias de Informacion<br>Noviembre de 2012
				</CENTER>
			</font>
		</div>
	</BODY>
</HTML>
